.display_news{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 20px;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    overflow-y: scroll;

}
.article_card{
    width: 150px;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.article_card img{
    width: 100%;
    /* height: 150px; */
    border: 1px solid #6666;
    border-radius: 8px 8px 0 0;
}
.article_details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: burlywood;
    padding: 8px;
    border-radius: 0 0 8px 8px;
}
.article_title{
    font-weight: 500;
    width: 100%;
}
.article_author{
    font-size: 12px;
    width: 100%;
    text-align: right;
}
.readMore_btn{
    border: none;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
    border-radius: 5px;
    color: #fff;
}