<form >
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="title" [(ngModel)] = newArticle.title required>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea class="form-control" name="content" id="content" rows="3" [(ngModel)] = newArticle.content required></textarea>
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input type="text" name="author" class="form-control" id="author" [(ngModel)] = newArticle.author required>
  </div>
  <button type="submit" class="btn btn-primary">Create News</button>
</form>
